%typography {
    display: flex;
    flex-direction: column;
    padding: 10vh 4vw;
}

.about {
    background-color: $color-white-2;
    grid-column: full-start/full-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(42vw, 1fr));
    align-items: center;
    &__photo {
        width: 100%;
        grid-column: 1/2;
    }
    &__icon {
        height: 3.2vw;
        align-self: flex-start;
    }
    &__text {
        margin-bottom: 6rem;
        text-align: justify;
        letter-spacing: 1;
        font-size: 1.8rem;
        font-family: $font-display;
    }
    &__typography {
        @extend %typography;
    }
}

.presetation {
    background-color: $color-white-2;
    grid-column: full-start/full-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(42vw, 1fr));
    align-items: center;
    &__icon {
        height: 6rem;
        align-self: center
    }
    &__typography {
        @extend %typography;
    }
    &__img {
        width: 100%;
    }
    &__text {
        margin-bottom: 4rem;
        text-align: justify;
        letter-spacing: 1;
        font-size: 1.8rem;
        font-family: $font-display;
    }
}

.choose {
    background-color: $color-white-2;
    grid-column: full-start/full-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38vw, 1fr));
    padding: 15rem 4rem;
    grid-gap: 6rem;
    &__photo {
        justify-self: center;
    }
    &__link {
        color: $color-primary;
        font-size: 1.8rem;
        font-style: italic;
        font-family: $font-display;
        font-weight: 400;
        text-decoration: none;
        text-decoration: underline;
    }
    &__text {
        margin: 4rem 0;
        text-align: justify;
        letter-spacing: 1;
        font-size: 1.8rem;
        font-family: $font-display;
    }
    &__photo {
        &--1 {
            height: 35rem;
            margin-right: -4px;
            outline: 6px solid $color-primary;
            outline-offset: .5rem;
        }
        &--2 {
            height: 35rem;
            transform: translate(-4rem, 11rem);
            box-shadow: 0 1rem 5rem rgba($color-primary, .3);
        }
    }
}

.contact {
    background-color: $color-primary;
    grid-column: full-start/full-end;
    padding: 10rem 4rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(26vw, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
    &__date {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, min-content);
        grid-gap: 2rem;
        align-items: center;
        justify-items: center;
    }
    &__email {
        color: $color-white;
        font-family: $font-display;
        font-size: 1.8rem;
    }
    &__number {
        color: $color-white;
        font-family: $font-display;
        font-size: 1.8rem;
    }
    &__icon {
        height: 3.5rem;
    }
    &__form {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, min-content);
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
    }
}

%input {
    border-radius: 0;
    border: 0;
    background-color: transparent;
    outline: 0;
    border-bottom: 1.8px solid $color-grey-light;
    color: $color-white;
    font-size: 1.8rem;
    &::placeholder {
        color: $color-white;
    }
}

.input {
    &__name {
        grid-column: 1/span 2;
        @extend %input;
    }
    &__subject {
        @extend %input;
    }
    &__email {
        @extend %input;
    }
    &__message {
        grid-column: 1/span 2;
        resize: none;
        width: 100%;
        @extend %input;
    }
}