$font-display: 'Montserrat',
sans-serif;
// ========== color ====================
$color-primary:#181818;
$color-white:#fff;
$color-grey-light: #B3B3B3;
$color-white-2:#FCFCFC;
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    @include respond(tab-land) {
        // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }
    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    line-height: 1.7;
    box-sizing: border-box;
    font-size: 1.8rem;
}

.container {
    display: grid;
    grid-template-rows: 100vh repeat(9, min-content);
    grid-template-columns: [sidebar-start] 14rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    @include respond(tab-port) {
        grid-template-rows: 10rem calc(100vh - 10rem) repeat(9, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }
    @include respond(phone) {
        grid-template-columns: [full-start] minmax(min-content, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(min-content, 1fr) [full-end];
    }
}