.price {
    background-image: url(../img/hd3-dark-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20rem 0;
    grid-column: full-start/full-end;
}