.heading-2 {
    font-size: 4.2rem;
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 1rem;
}

.heading-3 {
    font-size: 2.2rem;
    color: $color-white;
    margin-bottom: 1.8rem;
}

.heading-4 {
    margin-bottom: 4rem;
    font-size: 2.5rem;
    font-style: italic;
    line-height: 1;
}

.heading-5 {
    font-size: 5.6rem;
    color: $color-white;
    text-transform: uppercase;
}

.heading-6 {
    font-size: 2.2rem;
    text-transform: capitalize;
}

.cl-white {
    color: $color-primary;
    font-family: $font-display;
}

code {
    font-size: 4rem;
}